/* =========================
   Universal Selector
========================= */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* =========================
   Element Selector
========================= */

h2 {
    color: darkblue;
    text-align: center;
    margin: 15px 0;
}


/* =========================
   ID Selector
========================= */

#mainHeader {
    background-color: navy;
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 28px;
}


/* =========================
   Class Selector
========================= */

.eventCard {
    border: 2px solid gray;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}


/* =========================
   Grouping Selector
========================= */

h3,
p {
    color: darkgreen;
    font-family: Arial, sans-serif;
}